* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.site-wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

@font-face {
  font-family: Gill Sans;
  font-weight: lighter;
  font-style: normal;
  src: url(/fonts/GillSans.ttc);
}

@font-face {
  font-family: "pt_serifregular";
  src: url("ptserif-regular-webfont.woff2") format("woff2"),
    url("ptserif-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pt_serifitalic";
  src: url("ptserif-italic-webfont.woff2") format("woff2"),
    url("ptserif-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
